<div class="container">
    <h1> {{title}} </h1>
    <form action="" method="post">
        <input type="text" name="name" id="name" placeholder="Nombre">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="text" name="location" id="location" placeholder="Localidad">
    </form>
</div>